* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url(../../../assets/fonts/Poppins/Poppins-Regular.ttf);
}
