* {
    margin: 0;
    padding: 0;
    user-select: none;
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url(../../../assets/fonts/Poppins/Poppins-Regular.ttf);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

p {
    font-family: "Poppins", sans-serif;
}

span{
    font-family: "Poppins", sans-serif;
}
li {
    list-style: none;
}

a{
    text-decoration: none;
}